body {
    background-color: rgb(29, 42, 50);
    color: white;
    font-family: 'Barlow', sans-serif;
    align-items: center;
    text-align: center;
}

h1 {
    font-weight: bold;
}

input, button{
    color: inherit;

    border: none;
    background: none;
    outline: none;
}

input {
    border-bottom: 1px dotted;
    height: 25px;
}

button{
    height: 28px;
    transition: background 0.3s ease-in-out;
    border-radius: 2px;
}

button:hover{
    background-color: rgb(60, 81, 94);
}

#stock-data {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  #stock-data.visible {
    opacity: 1;
  }